<a [routerLink]="['/']" class="btn btn-primary lnk">Home</a>
<a [routerLink]="['/receipts']" class="btn btn-primary lnk">Receipts</a>
<a [routerLink]="['/invoices']" class="btn btn-primary lnk">Invoices</a>
<a [routerLink]="['/products']" class="btn btn-primary lnk">Products</a>
<a [routerLink]="['/services']" class="btn btn-primary lnk">Services</a>
<a [routerLink]="['/reports']" class="btn btn-primary lnk">Reports</a>
<a [routerLink]="['/clients']" class="btn btn-primary lnk">Clients</a>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>